
tr {
  background-color: #fff;
}
td {
  border: 1px solid #ddd;
  padding: 4px;
}
#editor td 
{
    text-align:center; 
    vertical-align:middle;
}

input.edit {
    background-image: url(/images/edit.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
#menu1 {
    background-color: #CDCDCD;
    border: 2px solid #6A6A6A;
    border-radius:5px;
    box-shadow: 5px 5px 10px #474747;
    padding-top:5px;
    padding-bottom:5px;
    display:none;
    position:absolute;
}

.menuItem {
   padding-left: 5px;
   padding-right: 5px;
   font-family: Arial, Helvetica, sans-serif;
   cursor: default;
}

.menuItem:hover {
    background-color:#F5F5F5;
}

#menu {
width:600px;
height:20px;
border: 1px solid #c0c0c0;
background-color:#efefef;
}
.options {
 cursor:pointer;
 color: #000000;Verdana, Arial, Helvetica, sans-serif;
 font-size:16px;
 margin-left:3px;
 margin-right:3px;
}
a {
 text-decoration:none;
}

background: #bcd9e1;